body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(9, 12, 147);
  background: linear-gradient(
    90deg,
    rgba(9, 12, 147, 0.9360119047619048) 0%,
    rgba(60, 102, 217, 1) 84%
  );
}

button {
  cursor: pointer;
}
